In [18]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [19]:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open('movie_bd_v5.csv', 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [20]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
563,tt0245686,17700000,30987695,Joe Dirt,David Spade|Brittany Daniel|Dennis Miller|Adam...,Dennie Gordon,He Came. He Cleaned. He Conquered.,"Joe Dirt is a janitor with a mullet hairdo, ac...",91,Mystery|Adventure|Comedy|Romance|Drama,Columbia Pictures|Happy Madison Productions,4/10/2001,5.5,2001
1426,tt0402901,30000000,15007991,The Cave,Cole Hauser|Eddie Cibrian|Morris Chestnut|Lena...,Bruce Hunt,There are places man was never meant to go.,After a group of biologists discovers a huge n...,97,Action|Adventure|Horror|Thriller,Lakeshore Entertainment|Cinerenta Medienbeteil...,8/25/2005,5.2,2005
946,tt0297884,13500000,29027914,Far from Heaven,Julianne Moore|Dennis Quaid|Dennis Haysbert|Pa...,Todd Haynes,It's time to stop hiding from the truth.,"In 1950s Connecticut, a housewife faces a mari...",107,Drama|Romance,Clear Blue Sky Productions,9/1/2002,6.4,2002
451,tt1322312,32000000,42045846,Going the Distance,Drew Barrymore|Justin Long|Christina Applegate...,Nanette Burstein,A comedy about meeting each other halfway.,Erin and Garrett are very much in love. When E...,102,Comedy|Drama|Romance,New Line Cinema|Offspring Entertainment,9/1/2010,6.0,2010
360,tt1095174,8000000,29010817,New in Town,RenÃ©e Zellweger|Harry Connick Jr.|J.K. Simmon...,Jonas Elmer,She's an executive on the move. But her career...,Lucy Hill is an ambitious up-and-coming execut...,97,Comedy|Romance,Lionsgate|Edmonds Entertainment Group (EEG)|Ep...,1/30/2009,5.3,2009

In [21]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [23]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date = pd.to_datetime(data.release_date)

# profit = revenue - budget
data['profit'] = data.revenue - data.budget

def str_split(string):
    ''' The function create a list from a string'''
    return string.split('|')


def couple_creator(cast_list):
    ''' The function create a list of actor's couples from a actor's list'''
    couple = []
    for actor in cast_list:
        for name in range(len(cast_list)):
            if cast_list[name] > actor:
                couple.append( actor +' & ' + cast_list[name])
    return couple


def couple_creator1(cast_list):
    ''' The function create a list of actor's couples from a actor's list'''
    couple = [actor +' & ' + cast_list[name] for actor in cast_list\
              for name in range(len(cast_list)) if cast_list[name] > actor]
    return couple

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [24]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'# +
# если ответили верно, можете добавить комментарий со значком "+"

In [25]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [26]:
# можно добавлять разные варианты решения
display(data.original_title[data.budget.isin([data.budget.max()])])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [27]:
# ВАРИАНТ 3
display(data.original_title[data.budget == 3.800000e+08])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [28]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [29]:
data[data.index == 723]
data[723:724]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [30]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [31]:
# Вариант 1
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [32]:
# Вариант 2
data[data.runtime == 214]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [33]:
# Вариант 3
data[data.runtime.isin([data.runtime.max()])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [34]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [35]:
print('Вариант 1')
display(data[data.runtime == data.runtime.min()])
print('Вариант 2')
display(data[data.runtime == 63])
print('Вариант 3')
display(data[data.runtime.isin([data.runtime.min()])])

Вариант 1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

Вариант 2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

Вариант 3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [36]:
answers['4'] = '110' # +

In [37]:
print('Вариант 1')
display(round(data.runtime.mean()))
print('Вариант 2')
data.describe()

Вариант 1

110

Вариант 2

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [38]:
answers['5'] = '107' # +

In [39]:
print('Вариант 1')
display(round(data.runtime.median()))
print('Вариант 2')
data.describe()

Вариант 1

107

Вариант 2

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [40]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [41]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

In [42]:
answers['6'] = 'Avatar (tt0499549)' # +

In [43]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [44]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [45]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [46]:
answers['8'] = '1478' # +

In [47]:
# вариант 1
len(data[data.profit > 0])

1478

In [48]:
# вариант 2
data.imdb_id[data.profit > 0].nunique()

1478

In [49]:
data[data.profit > 0].nunique()

imdb_id                 1478
budget                   177
revenue                 1476
original_title          1476
cast                    1467
director                 774
tagline                 1471
overview                1478
runtime                  100
genres                   548
production_companies    1268
release_date            1189
vote_average              44
release_year              16
profit                  1473
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [50]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [51]:
# вариант 1
data[data.revenue == data[data.release_year == 2008]['revenue'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [52]:
# вариант 2
data[data.revenue == data.groupby(['release_year'])['revenue'].max().loc[2008]]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [53]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [54]:
data[data.profit == data[(data.release_year >= 2012) & (data.release_year <= 2014)]['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [55]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [56]:
 answers['11'] = 'Drama' # +

In [57]:
# вариант 1

# genres_s = data.genres.apply(str_split)
# genres_df = genres_s.reset_index()
# genres_df.explode('genres').genres.value_counts()

data.genres.apply(str_split).reset_index().explode('genres').genres.value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [58]:
data.genres.str.split('|').explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [59]:
 answers['12'] = 'Drama' # +

In [60]:
data[data.profit > 0].genres.str.split('|').explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [61]:
 answers['13'] = 'Peter Jackson' # +

In [62]:
changed_data = data.copy()
changed_data['director_split'] = changed_data.director.str.split('|')
c_d_director_exp = changed_data.explode('director_split')
sum_df = c_d_director_exp.groupby(['director_split']).sum()
sum_df[sum_df.revenue == sum_df.revenue.max()]

,budget,revenue,runtime,vote_average,release_year,profit
director_split,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [63]:
 answers['14'] = 'Robert Rodriguez' # +

In [64]:
df = data.copy()
df['director_split'] = df.director.str.split('|')
df['genres_split'] = df.genres.str.split('|')
df_exp = df.explode('director_split')
df_exp = df_exp.explode('genres_split')
pivot = df_exp.loc[df_exp.genres_split == 'Action'].pivot_table(values = 'genres_split',
                                                                index = 'director_split',
                                                                aggfunc = 'count')
pivot[pivot.genres_split == pivot.genres_split.max()]

                  genres_split
director_split
Robert Rodriguez             9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [65]:
 answers['15'] = 'Chris Hemsworth' # +

In [66]:
df = data.copy()
df['cast_split'] = df.cast.str.split('|')
df_exp = df.explode('cast_split')
df_exp_2012 = df_exp[df_exp.release_year == 2012] 
df_exp_2012.groupby('cast_split').revenue.sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [67]:
 answers['16'] = 'Matt Damon' # +

In [68]:
df = data.copy()
df['cast_split'] = df.cast.str.split('|')
df_exp = df.explode('cast_split')
df_exp.describe()
df_high_budget = df_exp[df_exp.budget > df_exp.budget.mean()]
df_high_budget.groupby('cast_split').imdb_id.nunique().sort_values(ascending = False).index[0]

'Matt Damon'

In [69]:
df = data.copy()
df['cast_split'] = df.cast.str.split('|')
df_exp = df.explode('cast_split')
df_exp.describe()
df_high_budget = df_exp[df_exp.budget > data.budget.mean()]
df_high_budget.groupby('cast_split').imdb_id.nunique().sort_values(ascending = False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [70]:
 answers['17'] = 'Action' # +

In [71]:
df = data.copy()
df['cast_split'] = df.cast.str.split('|')
df['genres_split'] = df.genres.str.split('|')
df_exp = df.explode('cast_split')
df_exp = df_exp.explode('genres_split')
df_NC = df_exp[df_exp.cast_split == 'Nicolas Cage']
df_NC.genres_split.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [72]:
 answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

In [73]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df_exp = df.explode('production_companies')
df_PP = df_exp[df_exp.production_companies == 'Paramount Pictures']  
df_PP[df_PP.profit == df_PP.profit.min()][['original_title','imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [74]:
 answers['19'] = '2015' # +

In [75]:
data.groupby('release_year').revenue.sum().sort_values().index[-1]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [76]:
 answers['20'] = '2014' # +

In [77]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df_exp = df.explode('production_companies')
df_WB = df_exp[df_exp.production_companies.str.contains('Warner Bros',na = False)]
df_WB.groupby('release_year').profit.sum().sort_values().index[-1]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [78]:
 answers['21'] = '9' # +

In [79]:
data.release_date.dt.month.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [80]:
 answers['22'] = '450' # +

In [81]:
data[data.release_date.dt.month == 6].imdb_id.nunique() + \
data[data.release_date.dt.month == 7].imdb_id.nunique() + \
data[data.release_date.dt.month == 8].imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [82]:
 answers['23'] = 'Peter Jackson' #

In [83]:
january = data[data.release_date.dt.month == 1] 
february = data[data.release_date.dt.month == 2] 
december = data[data.release_date.dt.month == 12]
winter = pd.concat([january,february,december])
winter['director'] = winter.director.str.split('|')
winter = winter.explode('director')
winter.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [84]:
 answers['24'] = 'Four By Two Productions' #

In [85]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['len_title'] = df.original_title.str.len()
df.groupby('production_companies').len_title.mean().sort_values().index[-1]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [86]:
 answers['25'] = 'Midnight Picture Show' #

In [87]:
df = data.copy()
df['production_companies'] = df.production_companies.str.split('|')
df = df.explode('production_companies')
df['overview'] = df.overview.apply(lambda string: len(string.split(' ')))
df.groupby('production_companies').overview.mean().sort_values().index[-1]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [88]:
 answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #

In [89]:
data.quantile(q = 0.99,numeric_only=True)

budget          2.206000e+08
revenue         1.003732e+09
runtime         1.651200e+02
vote_average    7.800000e+00
release_year    2.015000e+03
profit          8.261360e+08
Name: 0.99, dtype: float64

In [90]:
data.vote_average.quantile(q = 0.99)

7.8

In [91]:
data[data.vote_average > data.vote_average.quantile(q = 0.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [92]:
data[data.vote_average > data.vote_average.quantile(q = 0.99)][['original_title','imdb_id']]

                                     original_title    imdb_id
9                                        Inside Out  tt2096673
34                                             Room  tt3170832
118                                    Interstellar  tt0816692
119                         Guardians of the Galaxy  tt2015381
125                              The Imitation Game  tt2084970
128                                       Gone Girl  tt2267998
138                        The Grand Budapest Hotel  tt2278388
370                                       Inception  tt1375666
599                                 The Dark Knight  tt0468569
872                                     The Pianist  tt0253474
1081  The Lord of the Rings: The Return of the King  tt0167260
1183                        The Wolf of Wall Street  tt0993846
1191                               12 Years a Slave  tt2024544
1800                                        Memento  tt0209144

In [93]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [94]:
 answers['27'] = 'Daniel Radcliffe & Rupert Grint' #

In [95]:
df = data[['cast']].copy()
df['cast'] = df.cast.str.split('|')
df = df.reset_index()
couple_df = df.cast.apply(couple_creator)
couple_df = couple_df.reset_index()
couple_df = couple_df.explode('cast')
couple_df.cast.value_counts().head(10)

Daniel Radcliffe & Rupert Grint       8
Emma Watson & Rupert Grint            8
Daniel Radcliffe & Emma Watson        8
Ben Stiller & Owen Wilson             6
Helena Bonham Carter & Johnny Depp    6
Kristen Stewart & Robert Pattinson    5
Paul Walker & Vin Diesel              5
Kristen Stewart & Taylor Lautner      5
Hugh Jackman & Ian McKellen           5
Robert Pattinson & Taylor Lautner     5
Name: cast, dtype: int64

In [96]:
df1 = data[['cast']].copy()
df1['cast'] = df1.cast.str.split('|')
df1 = df1.reset_index()
couple_df1 = df1.cast.apply(couple_creator1)
couple_df1 = couple_df1.reset_index()
couple_df1 = couple_df1.explode('cast')
couple_df1.cast.value_counts().head(10)

Daniel Radcliffe & Rupert Grint       8
Emma Watson & Rupert Grint            8
Daniel Radcliffe & Emma Watson        8
Ben Stiller & Owen Wilson             6
Helena Bonham Carter & Johnny Depp    6
Kristen Stewart & Robert Pattinson    5
Paul Walker & Vin Diesel              5
Kristen Stewart & Taylor Lautner      5
Hugh Jackman & Ian McKellen           5
Robert Pattinson & Taylor Lautner     5
Name: cast, dtype: int64

ВАРИАНТ 2

# Submission

In [98]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [99]:
# и убедиться что ни чего не пропустил)
len(answers)

27